{% extends "base.html" %}

{% block main %}
    <h2>Creation Page</h2>
    {% include 'flash_messages.html' %}
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newChild"> Add Child</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newParent"> Add Dorm Parent</button>
    <hr/>

    <!-- Modal -->
    <div class="modal fade" id="newChild" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <form  ng-app="myApp" ng-controller="myCtrl" action="{{ url_for('child') }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Child</h4>
                    </div>

                    <div class="modal-body">
                        {{ childform.csrf_token }}
                        <div class="form-group">
                            {{ childform.firstname.label }}
                            {{ childform.firstname(class='form-control', placeholder="First Name") }}
                        </div>
                        <div class="form-group">
                            {{ childform.lastname.label }}
                            {{ childform.lastname(class='form-control', placeholder="Last Name") }}
                        </div>
                        <div class="form-group">
                            {{ childform.age.label }}
                            {{ childform.age(class='form-control', placeholder="Age") }}
                        </div>
                        <div class="form-group">
                            {{ childform.mentorname.label }}
                            {{ childform.mentorname(class='form-control', placeholder="Mentor Name") }}
                        </div>
                        <div class="form-group">
                            {{ childform.parentname.label }}
                            {{ childform.parentname(class='form-control', placeholder="Parent Name") }}
                        </div>
                        <div class="form-group">
                            {{ childform.dob.label }}
                            {{ childform.dob(class='form-control', placeholder="Date of Birth yyyy-mm-dd") }}
                        </div>
                        <div class="form-group">
                            {{ childform.phone.label }}
                            {{ childform.phone(class='form-control', placeholder="Phone") }}
                        </div>
                        <div class="form-group">
                            {{ childform.gender.label }}
                            {{ childform.gender(class='form-control', placeholder="Gender") }}
                        </div>
                        <div class="form-group">
                            {{ childform.location.label }}
                            {{ childform.location(class='form-control', placeholder="Location") }}
                        </div>
                        <div class="form-group">
                            {{ childform.illness.label }}
                            {{ childform.illness(class='form-control', placeholder="Ilness") }}
                        </div>
                        <div class="form-group">
                            {{ childform.email.label }}
                            {{ childform.email(class='form-control', placeholder="Email") }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Add Child</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="newParent" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <form  ng-app="myApp" ng-controller="myCtrl" action="{{ url_for('parent') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Dorm</h4>
                </div>

                <div class="modal-body">
                    {{ dormform.csrf_token }}
                    <div class="form-group">
                        {{ dormform.firstname.label }}
                        {{ dormform.firstname(class='form-control', placeholder="First Name") }}
                    </div>
                    <div class="form-group">
                        {{ dormform.lastname.label }}
                        {{ dormform.lastname(class='form-control', placeholder="Last Name") }}
                    </div>
                    <div class="form-group">
                        {{ dormform.phone.label }}
                        {{ dormform.phone(class='form-control', placeholder="Phone") }}
                    </div>
                    <div class="form-group">
                        {{ dormform.gender.label }}
                        {{ dormform.gender(class='form-control', placeholder="Gender") }}
                    </div>
                    <div class="form-group">
                        {{ dormform.skills.label }}
                        {{ dormform.skills(class='form-control', placeholder="Skills") }}
                    </div>
                    <div class="form-group">
                        {{ dormform.parent_email.label }}
                        {{ dormform.parent_email(class='form-control', placeholder="Email") }}
                    </div>
                    <div class="form-group">
                        {{ dormform.dormnum.label }}
                        {{ dormform.dormnum(class='form-control', placeholder="Dorm Number") }}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="submit" class="btn btn-primary btn-block">Add Dorm Parent</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}